        <footer class="bg-dark text-white">
            <div class="container">
                <nav class="row">
                    <a href="/" class="col-3 text-reset text-uppercase d-flex aling-items-center">
                        &copy Domenico Ruperti y Juan chacon
                    </a>

                    <ul class="col-3 list-unstyled">
                        <li class="font-weight-bold text-uppercase">Recursos</li>
                        <li><a href="" class="text-reset">UCAB</a></li>
                        <li><a href="" class="text-reset">THE THINGS NETWORK</a></li>
                        <li><a href="" class="text-reset">BIBLIOTECA UCAB</a></li>
                    </ul>

                    <ul class="col-3 list-unstyled">
                        <li class="font-weight-bold text-uppercase">Tenologias</li>
                        <li><a href="" class="text-reset">NodeJS</a></li>
                        <li><a href="" class="text-reset">sqlite</a></li>
                        <li><a href="" class="text-reset">JQuery</a></li>
                    </ul>

                    <ul class="col-3 list-unstyled">
                        <li class="font-weight-bold text-uppercase">Redes sociales</li>
                        <li class="d-flex justify-content-between">
                            <a href="" class="text-reset">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="" class="text-reset">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                        </li>
                    </ul>

                </nav>
            </div>
            
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>

        <script>
            $(document).ready( function () {
                $('#datatable').DataTable();
            });
        </script>

    </body>
</html>