<%- include('header') -%>
<br>
<h1>IMPLEMENTACÓN DE UNA RED LORAWAN</h1>
<h1>DESTINADA AL MONITOREO REMOTO DEL</h1>
<h1>SUMINISTRO ELECTRICO A TRAVÉS DE LA TENOLOGIA IOT</h1>
<br>
<div class="container abs-center" style="width:50%;">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/arduino-g8e752f44a_640.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/arduino-gf6bd20791_640.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/integrated-circuit-g07224c350_640.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<br><br>
<div class="container abs-center" style="width: 70%;">
  <P>El presente trabajo de investigación, tiene como objetivo fundamental diseñar e implementar un sistema inalámbrico de comunicaciones en un sistema de respaldo de energía (en este caso el techo verde de la UCAB) para el cual se desarrolló una red con tecnología del internet de las cosas (IoT por sus siglas en inglés) con el fin de obtener datos como corriente, potencia, estado de las baterías (si se están cargando o descargando), entre otros. Esta información será capaz de visualizarse a través de una página web, mediante el uso de gráficas en una interfaz gráfica para que sea más cómoda para el usuario. Para el desarrollo de este prototipo se usó tecnología LoRa (Largo alcance en inglés), capaz de establecer comunicaciones en distancias de hasta 20 Km y permite la transmisión de datos como lo son valores de un sensor, o activar un actuador. Aunado a esto, se implementó el uso de la tecnología y de la plataforma de Arduino. </P>
</div>
<br>
  <%- include('footer') -%>